<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .badge-link {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<header>
  <div class="collapse bg-danger" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Acerca</h4>
          <p class="text-white">Enlaces de utilidad durante la cuarentena</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contacto</h4>
          <ul class="list-unstyled">
            <li><a href="https://twitter.com/RenzoLChavezC" target="_blank" class="text-white"><i class="fab fa-twitter"></i> Follow on Twitter</a></li>
            <!-- <li><a href="#" class="text-white">Like on Facebook</a></li> -->
            <li><a href="mailto:rlchavezc@outlook.com" class="text-white"><i class="fa fa-envelope"></i> Enviarme correo</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-danger shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <i class="fa fa-shield-virus fa-2x"></i>
        <strong class="ml-1">COVID-19</strong>
      </a>
      <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>
  <section class="py-3 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="font-weight-light"> <i class="fa fa-head-side-mask text-info"></i>  Portal Covid Perú</h1>
        <div class="input-group">
          <input type="text" class="form-control" name="searchText" id="searchText" [(ngModel)]="searchText" placeholder="Filtrar búsqueda" />
          <div class="input-group-append">
            <button class="btn btn-outline-danger" type="button" (click)="searchText=''"><i class="fa fa-trash"></i> Reestablecer búsqueda</button>
          </div>
        </div>
        <button *ngIf="!showAllTags" (click)="toogleViewTags()" class="btn btn-light btn-sm"><i class="fas fa-chevron-circle-down text-info"></i></button>
        <button *ngIf="showAllTags" (click)="toogleViewTags()" class="btn btn-light btn-sm"><i class="fas fa-chevron-circle-up text-info"></i></button>
        <br *ngIf="showAllTags">
        <div *ngIf="showAllTags">
          <span class="badge badge-info p-1 m-1 badge-link" *ngFor="let tag of allTags" (click)="searchText=tag">{{ tag }}</span>
        </div>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col pt-1" *ngFor="let link of data_links | searchfilter: searchText">
          <div class="card shadow-sm">
            <a [href]="link.link" target="_blank">
              <img class="card-img-top" [src]="link.image" alt="Descripción de la imagen" />
            </a>
            <div class="card-body">
              <span class="badge badge-info p-1 m-1" *ngFor="let tag of link.tags">{{ tag }}</span>
              <p class="card-text">{{ link.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a [href]="link.link" class="btn btn-sm btn-outline-secondary" target="_blank" rel="noopener noreferrer"><i class="fa fa-link"></i> Entrar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="text-muted py-5">
  <div class="container">
    <p class="float-right mb-1">
      <a href="#"><i class="fa fa-arrow-up fa-2x"></i></a>
    </p>
    <p class="mb-1"><i class="fa fa-info text-info"></i> Información útil durante la cuarentena</p>
    <p>Perú {{today | date:'yyyy'}}</p>
  </div>
</footer>
